# 1. Datasets

## 1.1 Downloading datasets

In [2]:
import os
import wget
cwd = os.getcwd()
fp_data = os.path.join(cwd, "../../data/")

In [15]:
# Credit Fraud https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud
# In order to work, you need to pip install kaggle and have kaggle account, download API key, place it in ~/.kaggle/kaggle.json
!kaggle datasets download mlg-ulb/creditcardfraud
os.rename("creditcardfraud.zip", fp_data + "creditcardfraud.zip")
# Heart Disease https://sci2s.ugr.es/keel/dataset.php?cod=980
wget.download("https://sci2s.ugr.es/keel/dataset/data/imbalanced/cleveland-0_vs_4.zip")
os.rename("cleveland-0_vs_4.zip", fp_data + "cleveland-0_vs_4.zip")
# Space Shuttle https://sci2s.ugr.es/keel/dataset.php?cod=125
wget.download("https://sci2s.ugr.es/keel/dataset/data/imbalanced/shuttle-c0-vs-c4.zip")
os.rename("shuttle-c0-vs-c4.zip", fp_data + "shuttle-c0-vs-c4.zip")

In [3]:
import pandas as pd
import numpy as np
df_credit_card_fraud = pd.read_csv(os.path.join(fp_data, "creditcardfraud.zip"), compression="zip", sep=",")
df_credit_card_fraud.rename(columns={"Class": "class"}, inplace=True)
display(df_credit_card_fraud.shape)
display(df_credit_card_fraud.head())
display(df_credit_card_fraud.describe())
display(df_credit_card_fraud.info())

(284807, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

None

In [4]:
hd_names = ["age", "sex", "cp", "trestbps", "chol", "fbs", "testecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "class"]
df_heart_disease = pd.read_csv(os.path.join(fp_data, "cleveland-0_vs_4.zip"), compression='zip', header=None, names=hd_names, sep=',', skiprows=18)
display(df_heart_disease.shape)
display(df_heart_disease.head())
display(df_heart_disease.describe())
display(df_heart_disease.info())

(177, 14)

,age,sex,cp,trestbps,chol,fbs,testecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,negative
1,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,negative
2,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,negative
3,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,negative
4,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,negative

,age,sex,cp,trestbps,chol,fbs,testecg,thalach,exang,oldpeak,slope
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,53.107345,0.581921,2.858757,129.949153,243.429379,0.135593,0.892655,157.073446,0.163842,0.716949,1.457627
std,9.659240,0.494643,0.939865,16.417587,54.350994,0.343327,0.991327,19.746410,0.371182,0.953430,0.612058
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,96.000000,0.000000,0.000000,1.000000
25%,45.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,146.000000,0.000000,0.000000,1.000000
50%,53.000000,1.000000,3.000000,130.000000,234.000000,0.000000,0.000000,160.000000,0.000000,0.300000,1.000000
75%,60.000000,1.000000,4.000000,140.000000,269.000000,0.000000,2.000000,172.000000,0.000000,1.200000,2.000000
max,77.000000,1.000000,4.000000,180.000000,564.000000,1.000000,2.000000,202.000000,1.000000,4.400000,3.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       177 non-null    float64
 1   sex       177 non-null    float64
 2   cp        177 non-null    float64
 3   trestbps  177 non-null    float64
 4   chol      177 non-null    float64
 5   fbs       177 non-null    float64
 6   testecg   177 non-null    float64
 7   thalach   177 non-null    float64
 8   exang     177 non-null    float64
 9   oldpeak   177 non-null    float64
 10  slope     177 non-null    float64
 11  ca        177 non-null    object
 12  thal      177 non-null    object
 13  class     177 non-null    object
dtypes: float64(11), object(3)
memory usage: 19.5+ KB

None

In [5]:
ss_names = ["A"+str(i+1) for i in range(9)]
ss_names.append("class")
df_space_shuttle = pd.read_csv(os.path.join(fp_data, "shuttle-c0-vs-c4.zip"), compression="zip", header=None, names=ss_names, sep=",", skiprows=14)
display(df_space_shuttle.shape)
display(df_space_shuttle.head())
display(df_space_shuttle.describe())
display(df_space_shuttle.info())

(1829, 10)

   A1  A2  A3  A4  A5  A6  A7  A8  A9     class
0  49   0  79   0  46  -5  30  32   2  negative
1  41   1  86   3  42   6  45  45   0  negative
2  50  -4  83   0  50   0  33  34   2  negative
3  48   1  81  -1  46   0  33  34   2  negative
4  45   0  86   0  44 -10  41  42   2  negative

,A1,A2,A3,A4,A5,A6,A7,A8,A9
count,1829.000000,1829.000000,1829.000000,1829.000000,1829.000000,1829.000000,1829.000000,1829.000000,1829.000000
mean,46.782941,0.427009,85.466922,1.179333,37.127392,3.929470,38.692182,48.374522,9.817387
std,13.177895,39.810392,9.212280,61.702120,21.351586,150.539976,13.908770,22.124850,24.525330
min,36.000000,-908.000000,74.000000,-587.000000,-46.000000,-898.000000,-18.000000,-353.000000,-356.000000
25%,37.000000,0.000000,79.000000,0.000000,34.000000,-4.000000,33.000000,35.000000,0.000000
50%,44.000000,0.000000,83.000000,0.000000,42.000000,0.000000,39.000000,41.000000,2.000000
75%,49.000000,0.000000,88.000000,0.000000,46.000000,5.000000,43.000000,57.000000,6.000000
max,123.000000,1409.000000,113.000000,2565.000000,436.000000,6339.000000,72.000000,130.000000,126.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      1829 non-null   int64
 1   A2      1829 non-null   int64
 2   A3      1829 non-null   int64
 3   A4      1829 non-null   int64
 4   A5      1829 non-null   int64
 5   A6      1829 non-null   int64
 6   A7      1829 non-null   int64
 7   A8      1829 non-null   int64
 8   A9      1829 non-null   int64
 9   class   1829 non-null   object
dtypes: int64(9), object(1)
memory usage: 143.0+ KB

None

## 1.2 Preprocessig datasets

In [6]:
all_datasets = [
    df_credit_card_fraud, 
    df_heart_disease,
    df_space_shuttle
    ]

def get_variable_name(variable):
    ''' Function for getting variable name. '''
    globals_dict = globals()
    return [var_name for var_name in globals_dict if globals_dict[var_name] is variable]

# Checking if there are any NaNs
def check_df_for_nans(df: pd.DataFrame):
    assert df.isna().sum().any() == False, f"There are some NaNs in {get_variable_name(df)}"

_ = [check_df_for_nans(dataset) for dataset in all_datasets]

In [7]:
# Factorizing datasets classes
def factorize_df_class(df: pd.DataFrame, class_column: str="class"):
    ''' Converts categorical variable to numeric and returns dataframe and maping for classes '''
    factorized_classes = pd.factorize(df[class_column])
    df[class_column] = factorized_classes[0]
    return df, factorized_classes[1]

all_datasets, all_datasets_class_indexes = list(zip(*[factorize_df_class(dataset) for dataset in all_datasets]))

In [8]:
assert (df_heart_disease["class"].unique() == np.array([0,1])).all() == True, "Binary factorizing not correct!"

In [9]:
# Factorizing other columns
def factorize_df_columns(df: pd.DataFrame):
    ''' Converts object dtypes to numeric and returns dataframe and mapings for columns '''
    df_object_dtypes = df.select_dtypes(include="object")
    factorizations = []
    for col in df_object_dtypes.columns:
        factorized_values = pd.factorize(df_object_dtypes[col])
        df[col] = factorized_values[0]
        factorizations.append(factorized_values[1])
    return df, factorizations

df_heart_disease, df_heart_disease_columns_indexes = factorize_df_columns(df_heart_disease)

## 1.3 Analysing datasets

In [10]:
def check_classes_distribution(df: pd.DataFrame):
    print(f"Class distribution for {get_variable_name(df)[0]}: ")
    print(df["class"].value_counts())

_ = [check_classes_distribution(df) for df in all_datasets]

Class distribution for df_credit_card_fraud:
0    284315
1       492
Name: class, dtype: int64
Class distribution for df_heart_disease:
0    164
1     13
Name: class, dtype: int64
Class distribution for df_space_shuttle:
0    1706
1     123
Name: class, dtype: int64

## 1.4 Spliting datasets

In [11]:
from sklearn.model_selection import train_test_split

def train_pool_test_split(X, y, test_size=0.2, train_size=0.4, random_state=13, verbose=False):
    """Splits the dataset into train, pool (unlabelled), test sets.

    For default parameters dataset will be deivided into 0.2 test, 
    0.4*0.8=0.32 train and 0.6*0.8=0.48 pool sets.

    Parameters
    ----------
    X : array-like, default=None
        Determines the cross-validation splitting strategy.
    y : array-like, default=None
        The target variable for supervised learning problems.
    test_size : float or int, default=0.2
        If float, should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the test split from the whole dataset. 
        If int, represents the absolute number of test samples.
    train_size : float or int, default=0.4
        Should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the train split from remaining train subset.
        If int, represents the absolute number of test samples.
    random_state : int, default=13
        Controls the shuffling applied to the data before applying the split.
        Pass an int for reproducible output across multiple function calls.
    verbose: bool, default=False
        Variable enriching the output of the function. It prints informations
        about splits classes counts.

    Returns
    -------
    splitting : list, length=6
        List containing train-pool-test split of inputs.

    Examples
    --------
    >>> X_train, X_pool, X_test, y_train, y_pool, y_test = train_pool_test_split(X, y)

    """
    # if type(test_size) == int and type(train_size) == int:
    #     if len(X) < test_size + train_size
    #     raise ValueError(f'Dataset doesn\'t have {test_size+train_size} samples.')

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    X_train, X_pool, y_train, y_pool = train_test_split(X_train, y_train, train_size=train_size, random_state=random_state)
    if verbose:
        def count_unique_classes(y_set: np.array): 
            unique_counts = np.unique(y_set, return_counts=True)
            classes = unique_counts[0].tolist()
            counts = unique_counts[1].tolist()
            _ = [print(f'There are {counts[idx]} samples of class {c}') for idx, c in enumerate(classes)]
        # Train
        print("Train set:")
        count_unique_classes(y_train)
        # Pool
        print("Train set:")
        count_unique_classes(y_pool)
        # Test
        print("Train set:")
        count_unique_classes(y_test)

    return X_train, X_pool, X_test, y_train, y_pool, y_test

train_sizes=[
    # 1, 2, 5,
    10, 20, 50, 100
]

# 2. Algorithms

In [12]:
# from sklearn.naive_bayes import MultinomialNB
# # predict_proba -> informative samples with smallest probabilities

from sklearn.linear_model import LogisticRegression
# CV suffix for cross-validation, which selects best hyperparameters (roughly equivalent to GridSearchCV(Estimator()))
# predict_proba -> informative samples with smallest probabilities

from sklearn.svm import SVC 
# decision_function (distance from the decision boundary) -> informative samples with smallest distance

# from sklearn.tree import DecisionTreeClassifier
# # predict_proba -> informative samples with smallest probabilities

from sklearn.ensemble import RandomForestClassifier
# predict_proba -> informative samples with smallest probabilities

from sklearn.ensemble import GradientBoostingClassifier
# predict_proba -> informative samples with smallest probabilities

In [19]:
def get_probabilistic_model(m):
    probabilistic_models_switcher={
        # "MNB": {
        #     "model": MultinomialNB,
        #     "params": {}
        # }, 
        "LR": {
            "model": LogisticRegression,
            "params": {}
        },
        "SVC": {
            "model": SVC,
            "params": {'C': 1.0, 'class_weight': None, 'max_iter': 1000, 'random_state': None, 'probability': True, 'tol': 0.0001, 'verbose': 0}
        },
        # "DTC": {
        #     "model": DecisionTreeClassifier,
        #     "params": {}
        # },
        "RFC": {
            "model": RandomForestClassifier,
            "params": {}
        },
        "GBC": {
            "model": GradientBoostingClassifier,
            "params": {}
        }
    }
    return probabilistic_models_switcher.get(m, "Invalid model")
    
probabilistic_models=[
    # "MNB",
    "LR", 
    "SVC",
    # "DTC", 
    "RFC", 
    "GBC"
]

In [160]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from active_learning.measurements import find_most_ambiguous

In [ ]:
from sklearn.metrics import classification_report
for model in probabilistic_models:
    clf = get_probabilistic_model(model)
    print()

In [14]:
X = df_heart_disease.loc[:, df_heart_disease.columns != "class"]#.to_numpy()
y = df_heart_disease["class"]#.values

In [15]:
X_train, X_pool, X_test, y_train, y_pool, y_test = train_pool_test_split(X, y, verbose=True)

Train set:
There are 52 samples of class 0
There are 4 samples of class 1
Train set:
There are 79 samples of class 0
There are 6 samples of class 1
Train set:
There are 33 samples of class 0
There are 3 samples of class 1

In [16]:
X_ref = np.concatenate((X_train, X_pool), axis=0)
y_ref = np.concatenate((y_train, y_pool), axis=0)

In [20]:
clf_info = get_probabilistic_model("SVC")
clf = clf_info.get("model")
clf_params = clf_info.get("params")
ref_clf = clf(**clf_params)
ref_clf.fit(X_ref, y_ref)

SVC(max_iter=1000, probability=True, tol=0.0001, verbose=0)

In [149]:
from sklearn.metrics import classification_report
print("Classification report for reference model (trained on training and pool data): ")
print(classification_report(y_test, ref_clf.predict(X_test), zero_division=0)) # TODO: zero division

Classification report for reference model (trained on training and pool data):
              precision    recall  f1-score   support

           0       0.92      1.00      0.96        33
           1       1.00      0.00      0.00         3

    accuracy                           0.92        36
   macro avg       0.96      0.50      0.48        36
weighted avg       0.92      0.92      0.88        36